.quienes{
    padding-top: 50px;
    color:#0a58ca;
    text-align: center;
    padding-bottom: 50px;
} 
.somos{
    padding: 20px;
    color:#0a58ca;
} 
.preguntas{
    padding-top: 50px;
    color:#0a58ca;
    text-align: center;
    padding-bottom: 50px;
}

p{
    padding: 20px;
    color:black;
}
.instituciones{
    padding-top: 50px;
    color:#0a58ca;
    text-align: center;
    padding-bottom: 50px;
}
.x{
    padding: 20px;
    color:#0a58ca; 
}
.mas{
    padding-left: 20px;
}